<div>	
	<% form_for :user, :url => users_path do |f| %>
		<%= error_messages_for :user %>
	
		<p><label for="email">Email</label><br/>
		<%= f.text_field :email %></p>
		
		<p><label for="password">Password</label><br/>
		<%= f.password_field :password %></p>
		
		<p><label for="password_confirmation">Confirm Password</label><br/>
		<%= f.password_field :password_confirmation %></p>
		
		<p><label for="username">Username</label><br/>
		<%= f.text_field :username %></p>
		
		<p><%= submit_tag 'Sign up' %></p>
		
		<p>
			<b>Already have an account? <%= link_to 'Login', login_path %></b>
		</p>
	<% end %>
</div>