<p>
	<%= link_to 'Back', '#', :onclick => 'history.go(-1); return false;' %>
</p>

<div>
  <%= image_tag @user.gravatar_url(:size => 100) %>
</div>

<% if current_user?(params[:id]) %>
<p>
	<b><%= link_to("Profile Settings", { :controller => 'users', :action => 'settings' }) %></b>
</p>
<% end %>

<h2>What <%= @user.username.capitalize %> Had</h2>

<% if @reviews.size > 0 %>
	<%= render :partial => 'reviews/review', :collection => @reviews %>
<% else %>
	No reviews yet
<% end %>