<p>
	<%= link_to 'Back', '#', :onclick => 'history.go(-1); return false;' %>
</p>

<div>
	<%= image_tag @user.gravatar_url(:size => 100) %>
</div>

<p>
	<b><%= link_to 'Change Photo (Gravatar)', 'http://www.gravatar.com/', :target => '_new' %></b>
</p>

<h2>What <%= @user.username.capitalize %> Had</h2>

<% if @reviews.size > 0 %>
	<%= render :partial => 'reviews/review', :collection => @reviews %>
<% else %>
	No reviews yet
<% end %>