<h3>What did you have?</h3>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :venue_id %>

	<div>
		<%= f.text_area :menu_item, :rows => 2 %>
	</div>

	<p>
		<%= link_to 'Cancel', '#', :onclick => 'history.go(-1); return false;' %> |
		<%= f.submit 'Like' %> or <%= f.submit 'Dislike' %>
	</p>
<% end %>