<p>
	<%= link_to 'Back to Place', '#', :onclick => 'history.go(-1); return false;' %>
</p>

<h3>What did you have?</h3>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :venue_id %>

	<div>
		<%= f.text_area :menu_item, :id => 'menu_item_text_area' %>
	</div>
	
	<p>
		80 char max
	</p>

	<p>
		<%= image_submit_tag '/images/like_button.png', :name => 'commit', :value => 'Like' %>
		<%= image_submit_tag '/images/dislike_button.png', :name => 'commit', :value => 'Dislike' %>
	</p>
<% end %>