<p>
	<%= link_to 'Back to Place', place_path(@review.venue_id) %>
</p>

<div>
	<b><%=h @review.place.name %></b>
</div>

<p>
	<%=h @review.menu_item %>
</p>

<%=h @review.user.username %> on <%= fancy_date(@review.created_at) %>

<% if current_user and current_user.id == @review.user.id %>
	<h1>Share on</h1>
	
	<p>
		<%= link_to image_tag('/images/twitter_button.gif'), 'http://twitter.com/home?status=' + @review.menu_item.gsub(/&/, 'and').gsub(/\s/, '+') + '+at+' + @place['name'].gsub(/&/, 'and').gsub(/\s/, '+') + '+on+http://eatdrink.it', :target => '_new' %>
		<%= link_to image_tag('/images/facebook_button.gif'), "http://www.facebook.com/sharer.php?u=#{review_url(@review)}", :target => '_new' %>
	</p>
<% end %>