<p>
	<%= link_to 'Back to Places', places_path %>
</p>

<h1>
	<b><%=h @venue['name'] %></b>
</h1>

<%=h @venue['address'] if @venue['address'] %> <%=h "(#{@venue['crossstreet']})" if @venue['crossstreet'] %>

<p>
	<%= link_to image_tag('/images/review_button.png'), new_review_path(:venue_id => params[:id]) %>
</p>

<% if @deals.size > 0 %>
	<%= link_to 'Deals &raquo;', deals_path(:venue_id => params[:id]) %>
<% end %>

<%= link_to 'Checkin to Foursquare', @foursquare_url %>

<h2>What People Had Here</h2>

<% if @all_reviews.size > 0 %>
	<%= render :partial => 'reviews/review', :collection => @all_reviews %>
<% else %>
	No reviews yet
<% end %>
